@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

section, article {
    @include outer-container;
}

#me {
    margin-bottom: 1em;
    margin-top: 1em;
    @include media($medium-screen) {
	margin-bottom: 3em;
    }
}

#navdiv {
    padding: 10px 0;
    float: left;
    
    @include media($medium-screen) {
	float:right;
    }    
}

a.marked {
    padding: 0 5px;
    font-size: 2em;
}


#article {
    margin-bottom: 1em;

     @include media($medium-screen) {
      margin-bottom: 5em;
    }
}

#summary {
    display: none;
    @include media($medium-screen) {
	display: inline;
    }
}

hr {
    border-bottom: 1px solid $grey;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 3em;
    margin: $base-spacing 0;
}

p, li {
    color: $base-font-color;
    line-height: $base-line-height;
}

h1 {
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;

    @include media($medium-screen) {
      font-size: 3.0em;
  }
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.0em;
    margin-top: 2em;
    margin-bottom: 0.9em;

    @include media($medium-screen) {
      font-size: 2.0em;
    }
}

h3 {
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: 500;
    line-height: 1.6em;
    margin-bottom: 0.9em;

    @include media($medium-screen) {
      font-size: 1.8em;
    }
}

code {
    color: $grey;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-family: "Inconsolata", ;
    font-size: 1.2em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
}

h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
}

#meta, #date, .date {
    color: #aaa;
}

p.date {
    color: transparentize($base-font-color, .6);
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em;
}

p {
    font-family: $serif-2;
    font-size: 1.0em;
    line-height: 1.8em;
    margin-bottom: 1.5em;

    span {
	font-family: $serif-2;
	font-weight: 700;
    }
}

a.read-more {
    display: inline-block;
    font-family: $serif-2;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Local Variables: */
/* firestarter: "sassc %f ../static/css/styles.css" */
/* End: */