<!DOCTYPE html>
<html>
  <head>
    <title>Jethro Kuan - {{ .Title }}</title>
    {{ partial "header.html" . }}
  </head>
  <body>
    <div class="container">
      {{partial "navdiv.html" . }}
      <article>
	  <h1 id="title"> {{.Title }}</h1>
	  <div id="meta">
	      <span> {{.Date.Format "Mon, Jan 2, 2006"}}</span><br/>
	      <span> {{.ReadingTime}} minutes to read</span> 
	  </div>
	  <hr/>
	  {{ .Content }}
      </article>    
    </div>
  </body>
  {{ partial "footer.html" . }}
</html>
