ul,
ol {
  margin-bottom: 1.5em;
  padding-left: 20px;
}

li {
    margin: 8px 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
