<!DOCTYPE html>
<html>
  <head>
    <title>Jethro Kuan</title>
    {{partial "header.html" . }}
  </head>
  <body>
      {{ partial "navdiv.html" . }}
      <section id="articles">
	  {{ range first 10 .Data.Pages }}
	  <section id="article">
	      <span id="date"> {{.Date.Format "Mon, Jan 2, 2006"}} </span>
	      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	      <p id="summary">{{ .Summary }}
		  {{ if .Truncated}}
		  <a class="read-more" href="{{ .RelPermalink }}">Read More</a>
		  {{end}}</p>
	  </section>
	  {{ end }}
      </section>
  </body>
</html>
